<div class="employee-detail d-flex" *ngIf="employee">
	<img src="./assets/images/profiles/{{ employee?.image }}" alt="{{ employee?.name }}" class="img-employee">
	<div class="employee-info">
		<h3 class="text-white size-{{employee?.popularity}}">{{ employee?.name }}</h3>
		<div class="d-flex align-items-center mb-4">
			<div class="pt-2 mr-3 text-white font-weight-bold">Popularity</div>
			<div class="w-100">
				<ng5-slider class="custom" [(value)]="valueSlider" [options]="options" (userChange)="changeSlider($event)"></ng5-slider>
			</div>
		</div>
		<div class="bg-over text-white p-3 employee-biography">
			<p class="font-weight-bold">Biography</p>
			<p class="biography">{{ employee?.biography }}</p>
		</div>
	</div>
</div>
