.content {
	background: $bg-content;
	.employee-detail {
		padding: 0 2rem;
		margin-top: -3rem;
		h3 {
			height: 50px;
   			overflow: visible;
		}
		.img-employee {
			max-height: 150px;
			border: 2px solid $border;
			border-radius: 5px;
			margin-right: 1.5rem;
		}
		.employee-biography {
			border-radius: 5px;
		}
		.biography {
			font-size: .9rem
		}
	}
}
