.header {
    width: 100%;
    min-height: 100px;
    height: auto;
	background: url("./assets/images/godfather-header.jpg") no-repeat center center;
	background-size: cover;
	.logo {
		padding: 30px 0;
	}
}
