.menu {
	ul {
		li {
			&.list-group-item {
				background: transparent;
				border: none;
				a {
					color: $white;
					text-decoration: none;
					&.active {
						color: $active;
						font-weight: bold;
					}
					&.colleague {
						color: $active;
					}
				}
			}
		}
	}
}
