// Overwrite for consistent with design
.ng5-slider {
	&.custom {
		.ng5-slider-pointer {
			background-color: $white;
			width: 20px;
			height: 20px;
			top: -9px;
			&:after {
				display: none;
			}
		}
		.ng5-slider-bar {
			background: $bg-over;
		}
	}
}
