<div class="container">
	<div id="header" class="header">
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="logo bg-over">
					<img src="./assets/images/the-godfather.svg" alt="Logo">
				</div>
			</div>
		</div>
	</div>
	<div id="content" class="content">
		<div class="row h-100">
			<div class="col-sm-4 text-center">
				<div class=" h-100 menu bg-over pt-3">
					<ul class="list-group list-group-flush">
						<li class="list-group-item" *ngFor="let employee of employees">
							<!-- TODO: Need refactor & handle all status class on .ts -->
							<a href="javascript:void(0)" (click)="switchEmployee(employee)" class="size-{{employee.popularity}}" [ngClass]="{'active': employeeActive.name === employee.name , 'colleague': employeeActive.colleagues.indexOf(employee.name) > -1}">{{ employee.name }}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
